body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff0000, #0000ff);
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body fills the entire viewport height */
}

.container {
    width: calc(50vw); /* Use up 1/3rd of the viewport width */
    max-width: 800px; /* Limit maximum width */
    max-height: 6600px;
    overflow: scroll;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
